.header{
    position: relative;
    width:80vw;
    height: 7.7%;
    background-color: #202020;
  }
  
  .menu{
    /* padding: 1px; */
    position: relative;
    width:80vw;
    height: 7vh;
    color:#f9f9f9;
  }

  .btn-login{
    margin-left:55vw;
  }